* {
    margin: 0; 
    padding: 0;

    box-sizing: border-box;
}

.leaderboard_header {
    height: 10%; 
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: rgba(215, 215, 215, 0.267);
    padding: .8rem 1rem;
    text-align: center;

}

.leaderboard_body {
    width: 85%;
    max-width: 550px;
    max-height: 100%;
    background-color: rgba(219, 219, 219, 0.733);

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
}


main.table {
    width: 45vh;
    height: 90vh;
    background-color: rgba(239, 239, 239, 0.459);
    margin: auto;

    backdrop-filter: blur(12px);
    box-shadow: 0 .4rem .8rem black;
    border-radius: .8rem;

}


table, th, td {
    padding: 1rem;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(196, 196, 196, 0.7);
}

tbody tr:nth-child(even) {
    background-color: rgba(230, 230, 230, 0.7);
}

tbody tr:nth-child(odd) {
    background-color: rgba(223, 223, 223, 0.7);
}

tbody tr:nth-child(1) {
    background-color: rgba(255, 217, 0, 0.7);
}

tbody tr:nth-child(2) {
    background-color: rgba(192, 192, 192, 0.7);
}

tbody tr:nth-child(3) {
    background-color: rgba(94, 29, 29, 0.7);
}

tbody tr:nth-child(n + 11) {
    background-color: rgba(155, 155, 155, 0.7);
}
    

@media (max-width: 310px) {
    main.table {
        width: 100%;
    }

    th, td {
        font-size: 25px;
    }
}

@media (max-height: 700px) {
    main.table {
        width: 85%;
    }
}