{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href= "{% static 'leaderboard/style.css' %}">
</head>
<body>
    <main class="table">
        <section class="leaderboard_header">
            <h1>Leaderboard</h1>
        </section>
        <section class="leaderboard_body">
            <table>
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Username</th>
                        <th>Co2 Saved</th>
                    </tr>
                </thead>
                <tbody>
                    {%for user in users%}
                    <tr>
                        <td>{{user.position}}</th>
                        <td>{{user.name}}</th>
                        <td>{{user.totalCo2Saved}}</th>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>
