{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
</head>
<body>
    <main class="table">
        <section class="leaderboard_header">
            <h1>Leaderboard</h1>
        </section>
        <section class="leaderbaord_body">
            <table>
                <thead>
                    <tr>
                        <th> Username</th>
                        <th> CO2 Saved</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Username</td>
                        <td>CO2 saved</td>
                    </tr>
                </tbody>
            </table>
        </section>

    </main>
</body>
</html>
