<!-- Extends the base layout to ensure consistency across the site. -->
{% extends "base.html" %}

<!-- Sets the title for the search groups page dynamically. -->
{% block title %}Search Groups Page{% endblock%}

<!-- Defines the navigation bar with different items based on user authentication. -->
{% block navbar %}
    <!-- Display navigation options for authenticated users, including links to groups, leaderboard, and logout. -->
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_groups_home_page' %}">Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/leaderboard/user_leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout/">Logout</a>
        </li>
    {% else %}
        <!-- Display navigation options for guests, including links to the leaderboard and login page. -->
        <li class="nav-item">
            <a class="nav-link" href="/leaderboard/">Leaderboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login/">Login</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="/user/"><i class='bx bxs-user-circle'></i></a>
    </li>
{% endblock %}

<!-- Main content block for the search groups page. -->
{% block content %}
<div class="container">
    <br>
    <!-- Search bar to allow users to search for groups. -->
    <div class="wrapper">
        <form action="{% url 'search_groups' %}" method="get" class="form-inline my-2 my-lg-0">
            <div class="input-box">
                <input type="search" placeholder="Search for groups..." name="q" aria-label="Search" value="{{ query }}" style="color: black;">
            </div>
            <button class="btn" type="submit">Search</button>
        </form>
    </div>
    <br>
    <!-- Section to display search results. -->
    <div class="wrapper">
        <h2>Search Results</h2>
        <!-- Conditionally display search results or a message indicating no results were found. -->
        {% if groups %}
            {% for group in groups %}
                <div class="card mb-3">
                    <div class="card-header" style="color: black;">
                        {{ group.name }}
                    </div>
                    <div class="card-body">
                        <a href="{% url 'group_page' group.id %}" class="btn btn-primary">View Group</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No groups found.</p>
        {% endif %}
    </div>
    <br>
    <!-- Footer section to display copyright notice. -->
    <div class="footer">
        <p>&copy; 2024 Your Website. All Rights Reserved.</p>
    </div>
</div>
{% endblock %}
