{% load static %}
<!DOCTYPE html>
<html lang="en">

<!--A HTML document that produces the user home webpage, which display's a user's personal information and total savings so far.-->
<!--authors: Giulia Brown, Eleanor Forrest-->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <!--Import styling-->
        <link rel="stylesheet" href="{% static 'carbonCommuter/style.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

    <body>
        <header>
            <!--Set up the navbar as seen on every webpage-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">CarbonCommuter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto" style="text-align: right; float: right;">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user_groups_home_page' %}">Groups</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/leaderboard/user_leaderboard">Leaderboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout/">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/leaderboard/">Leaderboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login/">Login</a>
                            </li>
                        {%endif%}
                        <li class="nav-item">
                            <a class="nav-link" href="/user/"><i class='bx bxs-user-circle'></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <br>
        <div class="container">
            <!-- Set up three columns to display the Profile details, badges, savings and groups-->
            <div class="row">
                <div class="column">
                    <div class="column-box">
                        <h1>Profile</h1>
                        <div class="streak">
                            <img src="{% static 'carbonCommuter/CarbonCommuter images/Streaks/dailyStreak.png' %}" alt="Daily streak">
                            {% if request.user.profile.streak > 10 %}
                                <div style="left: 25%" class="streakText">{{ request.user.profile.streak }}</div>
                            {% else %}
                                <div class="streakText">{{ request.user.profile.streak }}</div>
                            {% endif %}
                        </div>
                        <br>
                        <p><p1>Name: </p1><i>{{ full_name }}</i></p>
                        <br>
                        <p><p1>Email: </p1><i>{{ request.user.email }}</i></p>
                        <br>
                        <p><p1>Username: </p1><i>{{ request.user.username }}</i></p>
                        <br>
                        <p><p1>Join Date: </p1><i>{{ request.user.date_joined }}</i></p>
                        <a href="/user/settings"><button type="submit" class="btn">Edit Profile</button></a>
                        <br><br>
                        <a  href="{% url 'profile' username=request.user.username %}"><button type="submit" class="btn">View Public Profile</button></a>
                        
                    </div>
                </div>
                <br>
                <div class="column">
                    <div class="column-box">
                        <h1>Savings</h1>
                        <br>
                        <p><p1>Total Saving: </p1><i>{{ co2Saved }}</i></p>
                        <br>
                        {% if not started %}
                        <a href="/user/journeys/create"><button type="submit" class="btn">Start Journey</button></a>
                        {% else %}
                        <a href="/user/journeys/finish"><button type="submit" class="btn">End Journey</button></a>
                        {% endif %}
                    </div>
                    <div class="column-box">
                        <h1>Following</h1>
                        {% if not followingUsers %}
                        <p>You aren't following anyone.</p>
                        {% else %}
                            {% for member in followingUsers %}
                            <div>
                                <a href="{% url 'profile' username=member %}">{{ member }}</a>
                            </div>
                            {% endfor %}
                        {%endif%}
                    </div>
                </div>
            </div>
            <!-- Adding another row to display the user badges -->
            <div class="row">
                <div class="column">
                <div class="column-box2">
                    <h1>Badges</h1>
                    <br>
                    <h4>Streaks:</h4>
                    <img style="opacity: {{ sevenDaysOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Streaks/7days.png' %}" alt="7 Days">
                    <img style="opacity: {{ fourteenDaysOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Streaks/14days.png' %}" alt="14 Days">
                    <img style="opacity: {{ thirtyDaysOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Streaks/30days.png' %}" alt="30 Days">
                    <img style="opacity: {{ fiftyDaysOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Streaks/50days.png' %}" alt="50 Days">
                    <img style="opacity: {{ seventyFiveDaysOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Streaks/75days.png' %}" alt="75 Days">
                    <img style="opacity: {{ hundredDaysOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Streaks/100days.png' %}" alt="100 Days">
                    <h4>Locations:</h4>
                    <img style="opacity: {{ amoryOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Locations/Amory.png' %}" alt="Amory">
                    <img style="opacity: {{ businessSchoolOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Locations/BusinessSchool.png' %}" alt="BusinessSchool">
                    <img style="opacity: {{ devonshireHouseOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Locations/DevonshireHouse.png' %}" alt="DevonshireHouse">
                    <img style="opacity: {{ forumOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Locations/Forum.png' %}" alt="Forum">
                    <img style="opacity: {{ harrisonOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Locations/Harrison.png' %}" alt="Harrison">
                    <img style="opacity: {{ innovationCentreOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Locations/InnovationCentre.png' %}" alt="InnovationCentre">
                    <img style="opacity: {{ laverOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Locations/Laver.png' %}" alt="Laver">
                    <img style="opacity: {{ lsiOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Locations/LSI.png' %}" alt="LSI">
                    <img style="opacity: {{ peterChalkOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Locations/PeterChalk.png' %}" alt="PeterChalk">
                    <img style="opacity: {{ queensOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Locations/Queens.png' %}" alt="Queens">
                    <img style="opacity: {{ sportsParkOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Locations/SportsPark.png' %}" alt="SportsPark">
                    <img style="opacity: {{ swiotOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Locations/Swiot.png' %}" alt="Swiot">
                    <img style="opacity: {{ washingtonSingerOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Locations/WashingtonSinger.png' %}" alt="WashingtonSinger">
                    <h4>Leaderboard:</h4>
                    <img style="opacity: {{ topLeaderboardOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Leaderboard/TopLeaderboard.png' %}" alt="Top of Leaderboard">
                    <img style="opacity: {{ weekLeaderboardOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Leaderboard/1weekLeaderboard.png' %}" alt="Top of Leaderboard for 1 week">
                    <img style="opacity: {{ monthLeaderboardOpac }}" src="{% static 'carbonCommuter/CarbonCommuter images/Leaderboard/1monthLeaderboard.png' %}" alt="Top of Leaderboard for 1 month">
                </div>
                </div>
            </div>

            <br>
            <div class="footer">
                <p>&copy; 2024 CarbonCommuter. All Rights Reserved.</p>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
