{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock%}

{% block navbar %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_groups_home_page' %}">Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/leaderboard/user_leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout/">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/leaderboard/">Leaderboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login/">Login</a>
        </li>
    {%endif%}
    <li class="nav-item">
        <a class="nav-link" href="/user/"><i class='bx bxs-user-circle'></i></a>
    </li> 
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="column-box-journeys">
                    <h1>Your Journeys</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Distance (km)</th>
                                <th>CO2 Savings (kg)</th>
                                <th>Origin</th>
                                <th>Destination</th>
                                <th>Transport</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for journey in user_journeys %}
                                <tr>
                                    <td>{{ journey.start_time }}</td>
                                    <td>{{ journey.end_time }}</td>
                                    <td>{{ journey.distance }}</td>
                                    <td>{{ journey.carbon_savings }}</td>
                                    <td>{{ journey.origin }}</td>
                                    <td>{{ journey.destination }}</td>
                                    <td>{{ journey.transport }}</td>
                                    <td>
                                        <a href="/user/journeys/delete?id={{ journey.id }}" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="8">No journeys recorded yet.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}