<!--A HTML document that produces a public user profile, displaying public information and allowing users to follow others.-->
<!--authors: Eleanor Forrest-->
{% extends "base.html" %}

{% block title %}Profile{% endblock%}

{% block navbar %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_groups_home_page' %}">Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/leaderboard/user_leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout/">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/leaderboard/">Leaderboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login/">Login</a>
        </li>
    {%endif%}
    <li class="nav-item">
    <a class="nav-link" href="/user/"><i class='bx bxs-user-circle'></i></a>
    </li>
{% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="container">
    <!--Set up the public profile information box-->
    <div class="row">
        <div class="column">
            <div class="column-box">
                <h1>{{username}}</h1>
                <br>
                <p>Carbon Saved: <i>{{co2Saved}}</i></p>
                <p><p1>Join Date: </p1><i>{{ dateJoined }}</i></p>
                <p>Badges:</p>
                <p>
                    <div class="badge-images">
                        {% for badge in badgeImages %}
                        <img src={{ badge }}>
                        {% endfor %}
                    </div>
                </p>
                <br>
                {% if isCurrentUser %}
                    <!-- If it is the user's public profile a back button is displayed -->
                    <a href="/user/"><button type="back" class="btn">Back</button></a>
                {% else %}
                    <!-- Otherwise a Follow button is displayed (follow/unfollow) -->
                    <form action="/user/follow/" method="POST">
                    {% csrf_token %}
                    {% if followingUser %}
                        <button type="submit" class="btn" name="follow" value="unfollow">Unfollow</button>
                    {% else %}
                        <button type="submit" class="btn" name="follow" value="follow">Follow</button>
                    {% endif %}
                    <input type="hidden" id="followedUser" name="followedUser" value="{{ userToFollow }}">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div class="footer">
        <p>&copy; 2024 CarbonCommuter. All Rights Reserved.</p>
    </div>
</div>
{% endblock %}