{% load static %}
<!DOCTYPE html>
<html lang="en">

<!--A HTML document that produces the user settings webpage, so users can adjust their personal details.-->
<!--authors: Jack Skinner, Giulia Brown-->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Settings</title>
        <!--Import styling-->
        <link rel="stylesheet" href="{% static 'carbonCommuter/style.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

    <body>
        <!--The navbar at the top of each webpage-->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">CarbonCommuter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register/">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/leaderboard/">Leaderboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/"><i class='bx bxs-user-circle'></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <br>
        <div class="wrapper">
            <form action="/user/settings/" method = "POST">
                <!--Input forms for the first name, last name, username, email and password-->
                <h1>Settings</h1>
                {% csrf_token %} <!-- for security of the inputs of the POST form -->
                <!-- if an input was invalid, an error will be produced and printed on screen below for the user to re-enter their details correctly -->
                {% if error %}
                    <p style='color:red'>{{ error }}</p>
                {% endif %}
                <div class="input-box">
                    <input type="text" value={{request.user.first_name}} id="first_name" name="first_name">
                </div>
                <div class="input-box">
                    <input type="text" value={{request.user.last_name}} id="last_name" name="last_name">
                </div>
                <div class="input-box">
                    <input type="text" value={{request.user.username}} id="username" name="username">
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="text" value={{request.user.email}} id="email" name="email">
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-box">
                    <!--The user must enter their password in order to make a change-->
                    <input type="password" placeholder="password" id="password1" name="password1" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <button type="submit" class="btn">Submit</button> 
            </form>
        </div>

        <br>
        <div class="footer">
            <p>&copy; 2024 CarbonCommuter. All Rights Reserved.</p>
        </div>
    </body>
</html>