{% load static %}
<!DOCTYPE html>
<html lang="en">

<!--A HTML document that produces the upload webpage, so users can input the start and end coordinates of their journey and the mode of transport used.-->
<!--authors: Eleanor Forrest, Jack Skinner, Giulia Brown, Sam Townley-->

<head>
    <!--Import styling-->
    <title>Start A Journey</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'carbonCommuter/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--Set up the connection to the Google Maps API-->
    <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIZe4j6_6bvgDSdz4rjX_29_r6C6FGi1Y&libraries=places&callback=initAutocomplete&loading=async">
    </script> -->
</head>

<body>
    <header>
        <!--The navbar, consistent across the site-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">CarbonCommuter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboard/">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/"><i class='bx bxs-user-circle'></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <br>
    <div class="wrapper">
        <!--The form object takes the user's selections and passes them to the upload function-->
        <form name="start" id="start_journey" action="/user/journeys/create" method="post">
            {% csrf_token %}
            <h1>Start A New Journey</h1>

            {% if error %}
                <p style='color:red'>{{ error }}</p>
            {% endif %}

            <!--These hidden inputs are used to convert the user's off-campus location into latitude and longitude coordinates and pass them through-->
            <input type="hidden" id="lat" name="lat" value="">
            <input type="hidden" id="long" name="long" value="">
            <input type="hidden" id="address" name="address" value="">
           
            <div id="tab1">
                <h4>Where are you starting your journey from today?</h4>
                <br>
                <button type="button" class="btn" onclick="getLocation()">Get My Location</button>
                <br><br>
                <div id="map">
                    <iframe id="google_map" width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=720&amp;height=600&amp;hl=en&amp;q=Exeter&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                </div>
                <br>
                <span>
                    Your current address is:
                    <span id="display_address">N/A</span>
                </span>
                <br>
                <div id="manual_select" style="display: none">
                    <br>
                    <h6>Enter a new location below:</h6>
                    <input id="automcomplete">
                </div>
                <br>
                <div>
                    <button type="button" id="btn_input" class="btn" style="display: inline-block; width: 49%" onclick="showManualInput()">Enter Manually</button>
                    <button type="button" id="btn_continue" class="btn" style="display: inline-block; width: 49%" onclick="nextTab(1)">Confirm Location</button>
                </div>
            </div>

            <div id="tab2" style="display: none">
                <h4>Select the mode of transport you plan to use:</h4>
                <br>
                <select name="transport" id="transport">
                    <option value = "Bus">Bus</option>
                    <option value = "Train">Train</option>
                    <option value = "Bike">Bike</option>
                    <option value = "Walk">Walk</option>
                </select>
                <br><br>
                <div>
                    <button type="button" class="btn" style="display: inline-block; width: 49%" onclick="prevTab(2)">Go Back</button>
                    <button type="submit" class="btn" style="display: inline-block; width: 49%">Confirm Transport</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        function showManualInput() {
            document.getElementById("manual_select").style.display = "block";
            document.getElementById("btn_input").style.display = "none";
            document.getElementById("btn_continue").style.width = "100%"
        }

        function nextTab(current) {
            document.getElementById(`tab${current}`).style.display = "none";
            document.getElementById(`tab${current+1}`).style.display = "block";
        }

        function prevTab(current) {
            document.getElementById(`tab${current}`).style.display = "none";
            document.getElementById(`tab${current-1}`).style.display = "block";
        }

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else { 
                alert("Geolocation is not supported by this browser.");
            }
        }

        function getAddress(position) {
            const xhr = new XMLHttpRequest();
            xhr.open("GET", `https://maps.googleapis.com/maps/api/geocode/json?latlng=${position.coords.latitude},${position.coords.longitude}&key=AIzaSyCVEKGGBT_8WryClHT64tPqFONldHdY35Y`);
            xhr.send();
            xhr.responseType = "json";
            xhr.onload = () => {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    const results = xhr.response;
                    document.getElementById('address').value = results['results'][0]['formatted_address'];
                    document.getElementById('display_address').innerHTML = results['results'][0]['formatted_address'];
                } else {
                    console.log(`Error: ${xhr.status}`);
                }
            };
        }

        function showPosition(position) {
            var lat    = position.coords.latitude,
                long   = position.coords.longitude,
                coords = lat + ', ' + long;

            document.getElementById('lat').value = position.coords.latitude;
            document.getElementById('long').value = position.coords.longitude;
            getAddress(position);
            document.getElementById('google_map').setAttribute('src', 'https://maps.google.co.uk?q=' + coords + '&output=embed');
        }

        function showError(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.")
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.")
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.")
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.")
                    break;
            }
        }
    </script>
<!--
        <form name="upload" id="upload" action="/user/upload/" method="post">
            Select an on-campus location:
            {% csrf_token %}
            {% if error %}
                <p style='color:red'>{{ error }}</p>
            {% endif %}
-->
            <!--These hidden inputs are used to convert the user's off-campus location into latitude and longitude coordinates and pass them through-->
<!--         
            <input type="hidden" id="lat" name="lat" value="">
            <input type="hidden" id="lng" name="lng" value="">

            <select name="oncampus" id="oncampus">
                <option value = "Forum">Forum</option>
                <option value = "Amory">Amory</option>
                <option value = "Devonshire House">Devonshire House</option>
                <option value = "Peter Chalk">Peter Chalk</option>
                <option value = "Living Systems Institute">Living Systems Institute</option>
                <option value = "Harrison">Harrison</option>
                <option value = "Business School">Business School</option>
                <option value = "Sports Park">Sports Park</option>
                <option value = "Queens">Queens</option>
                <option value = "Washington Singer">Washington Singer</option>
                <option value = "Laver">Laver</option>
                <option value = "Innovation Centre">Innovation Centre</option>
                <option value = "South West Institute of Technology">South West Institute of Technology</option>
                <option value = "Bus Stop - North Park Road">Bus Stop - North Park Road</option>
                <option value = "Bus Stop - Innovation Centre">Bus Stop - Innovation Centre</option>
                <option value = "Bus Stop - Rennes Drive">Bus Stop - Rennes Drive</option>
                <option value = "Bus Stop - Poole Gate">Bus Stop - Poole Gate</option>
                <option value = "Bus Stop - Perry Road">Bus Stop - Perry Road</option>
                <option value = "Bus Stop - Streatham Rise">Bus Stop - Streatham Rise</option>
                <option value = "Bus Stop - Knightley">Bus Stop - Knightley</option>
                <option value = "Bus Stop - The Queen's Drive">Bus Stop - The Queen's Drive</option>
                <option value = "Bus Stop - Prince of Wales Road">Bus Stop - Prince of Wales Road</option>
                <option value = "Bike Rack - Stocker Road">Bike Rack - Stocker Road</option>
                <option value = "Bike Rack - Sports Park">Bike Rack - Sports Park</option>
                <option value = "Bike Rack - Business School">Bike Rack - Business School</option>
                <option value = "Bike Rack - Terrace Restaurant">Bike Rack - Terrace Restaurant</option>
                <option value = "Bike Rack - Amory">Bike Rack - Amory</option>

            </select>
            <br><br>

            Enter an off-campus location:
            <br>
            <input type="text" id="autocomplete" name="autocomplete" placeholder="Select">
            <br>
            
            <script>
                //Use the Google Maps API to allow the user to type and then select an off-campus location
                let autocomplete;
                function initAutocomplete(){
                    autocomplete = new google.maps.places.Autocomplete(
                        document.getElementById('autocomplete'),
                        {
                        types:['address'],
                        componentRestrictions: {'country': ['gb']},
                        fields : ['geometry', 'name'],
                        strictBounds: true
                        }
                    );
                    autocomplete.addListener('place_changed', onPlaceChanged);
                }
            
                function onPlaceChanged(){
                    var place = autocomplete.getPlace();
                    if (!place.geometry){
                        document.getElementById('autocomplete').placeholder='Select';
                    }
                    else{
                        document.getElementById('autocomplete').innerHTML=place.name;
                        document.getElementById('lat').value = place.geometry.location.lat().toString();
                        document.getElementById('lng').value = place.geometry.location.lng().toString();
                    }
                }
            </script>
-->
            
    <br>
    <div class="footer">
        <p>&copy; 2024 CarbonCommuter. All Rights Reserved.</p>
    </div>
</body>
</html>
