{% load static %}
<!DOCTYPE html>
<html lang="en">

<!--A HTML document that produces the upload success webpage, confirming that the user's upload was successfully added.-->
<!--authors: Sam Townley-->

<head>
    <!--Import styling-->
    <title>Success</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'carbonCommuter/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header>
        <!--The navbar, consistent across the site-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">CarbonCommuter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboard/">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/"><i class='bx bxs-user-circle'></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <br>
    <div class="wrapper">
        <h1>Congrats on finishing your journey!</h1>
        <br>
        <p>You travelled {{ journey.distance }}km in just {{ time_taken }}!</p>
        <p>By {{ transport }}, you have saved {{ journey.carbon_savings }}kg of CO2!</p>
        <br>
        <button type="button" class="btn" id="btn_home">Go home</button>

        <script>
            document.getElementById("btn_home").onclick = function () {
                location.href = "/user/";
            };
        </script>

    </div>
    <br>
    <div class="footer">
        <p>&copy; 2024 CarbonCommuter. All Rights Reserved.</p>
    </div>
</body>
</html>
