{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- A HTML document that produces the login page, to allow the user to log into their account. -->
<!-- authors: Jack Skinner, Giulia Brown, Abi Hinton -->
    
    <head> 
        <title>Registration page</title>
        <!-- import styling -->
        <link rel="stylesheet" href="{% static 'carbonCommuter/style.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

    <body>
        <header>
            <!--The navbar, consistent across the site-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">CarbonCommuter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/register/">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/leaderboard/">Leaderboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/"><i class='bx bxs-user-circle'></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <br>
        <div class="container">
            <div class = "wrapper">
                <!-- checking whether the user is already logged in - will only show the login form if not logged in -->
                {% if not request.user.is_authenticated %}
                <!-- POST form to retrieve the details of the user to create an account -->
                <form action="" method='POST'>
                    <h1>Welcome back!</h1>
                    {% csrf_token %} <!-- for security of the inputs of the POST form -->
                    <h1>Login</h1>
                    <!-- if an input was invalid, an error will be produced and printed on screen below for the user to re-enter their details correctly -->
                    {% if error %}
                        <p style='color:red'>{{ error }}</p>
                    {% endif %}
                    <!-- all the input boxes -->
                    <div class="input-box">
                        <input type="text" placeholder="username" name="username" autocomplete="off" required>
                        <i class='bx bxs-user'></i>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="password" name="password" autocomplete="off" required>
                        <i class='bx bxs-lock-alt'></i>
                    </div>
                    <button type="submit" class="btn">Login</button>

                    <!-- if the user is does not have an account, can click to register -->
                    <div class="link">
                        <p>Don't have an account? <a href="/register/">Register</a></p>
                    </div>
                </form>
                <!-- if the user is already logged in from the check above, will ask if the user wants to logout
                (the user cannot be logged into more than one account) -->
                {% else %}
                <p>You're already logged in. Would you like to <a href="/logout">logout</a>?</p>
                {% endif %}

            </div>
            <br>
            <!--The footer, consistent across the site-->
            <div class="footer">
                <p>&copy; 2024 CarbonCommuter. All Rights Reserved.</p>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>