<!-- A HTML document that produces the base of all html pages. -->
<!-- author: Giulia Brown -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- import styling -->
        <link rel="stylesheet" href= "{% static 'carbonCommuter/style.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
        <script type="text/javascript" src="{% static 'carbonCommuter/upload.js' %}"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% block script %}
            <!-- this block will be overridden if necessary -->
        {% endblock %}
    </head>
    
    <!-- this block might be overridden if necessary -->
    {% block body %}
    <body>
        <header>
            <!--The navbar, consistent across the site-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">CarbonCommuter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto" style="text-align: right; float: right;">
                        {% block navbar %}    
                            <!-- this block will be overridden in specific templates -->
                        {% endblock %}
                        
                    </ul>
                </div>
            </nav>
        </header>

        {% block content %}
        <!-- this content will be overridden by specific templates -->
        {% endblock %}
    </body>
    {% endblock %}
</html>