{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>Registration page</title>
        <link rel="stylesheet" href="{% static 'login/style.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        
    </head>

    <body>
        <div class = "wrapper">
            {% if not request.user.is_authenticated %}
            <form action="" method='POST'>
                {% csrf_token %}
                <h1>Login</h1>
                {% if error %}
                    <p style='color:red'>{{ error }}</p>
                {% endif %}
                <div class="input-box">
                    <input type="text" placeholder="username" name="username" autocomplete="off" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="password" name="password" autocomplete="off" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <button type="submit" class="btn">Login</button>

                <div class="register-link">
                    <p>Don't have an account? <a href="/register/">Register</a></p>
                </div>
            </form>
            {% else %}
            <p>You're already logged in. Would you like to <a href="/logout">logout</a>?</p>
            {% endif %}

        </div>
    </body>
</html>