{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Group home page</title>
        <link rel="stylesheet" href="{% static 'sustainabilityGame/style.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">CarbonCommuter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register/">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/leaderboard/">Leaderboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/"><i class='bx bxs-user-circle'></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="container mt-4">
            <h2>All Groups and Their Members</h2>
            {% for group in groups %}
            <div class="card mb-3">
                <div class="card-header">
                    {{ group.name }}
                </div>
                <ul class="list-group list-group-flush">
                    {% for user in group.user_set.all %}
                    <li class="list-group-item">{{ user.username }}</li>
                    {% empty %}
                    <li class="list-group-item">No members in this group.</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </main>

        <br>
        <div class="wrapper">
            <div class="upload-box">
                <h1>Create Group</h1>
                <br>
                <a href="/groups/create"><button type="submit" class="btn">Create</button></a>
            </div>
        </div>

        <br>
        <div class="wrapper">
            <div class="upload-box">
                <h1>Join Group</h1>
                <br>
                <a href="/groups/join"><button type="submit" class="btn">Join</button></a>
            </div>
        </div>

        <div class="wrapper">
            <div class="upload-box">
                <h1>Leave Group</h1>
                <br>
                <a href="/groups/leave"><button type="submit" class="btn">Leave</button></a>
            </div>
        </div>

        <br>
        <div class="footer">
            <p>&copy; 2024 CarbonCommuter. All Rights Reserved.</p>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </body>
</html>