{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leave Group - CO2 Saving Website</title>
    <link rel="stylesheet" href="{% static 'sustainabilityGame/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">CarbonCommuter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register/">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboard/">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/">Profile</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <br>
    <div class="container">
        <h1>Leave a Group</h1>
        {% for message in messages %}
        <p style='color:red'>{{ message }}</p>
        {% endfor %}
        <ul class="list-group mt-3">
            {% for group in groups %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ group.name }}
                <form action="{% url 'leave_group' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="group_id" value="{{ group.id }}">
                    <button type="submit" class="btn btn-danger btn-sm">Leave</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

    <br>
    <div class="footer">
        <p>&copy; 2024 CarbonCommuter. All Rights Reserved.</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
