div.main {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 30px;
    color: black;
}

/*input {
    position: relative;
    block-size: fit-content;
    text-align: center;
    background-color: darkgrey;
    color: black;
    resize: none;
}*/

div.userForm {
    margin-top: 100px;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    float: left;
    padding-bottom: 80px;
    height: 10px;
    font-size: 50px;
    background-color: darkgreen;
}
div.userForm input {
    margin: 20px;
    padding: 10px;
    font-size: 25px;
    width: 300px;
}