div.main {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 30px;
    color: black;
}

/*input {
    position: relative;
    block-size: fit-content;
    text-align: center;
    background-color: darkgrey;
    color: black;
    resize: none;
}*/

div.box {
    /*height: 300px;
    display: flex;
    justify-content: center;*/
    position: absolute;
    top: 50%;
    left: 25%;
    align-items: center;
    block-size: fit-content;
    margin-top: 100px;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    padding: 40px;
   /* height: 50%;*/
    font-size: 50px;
    background-color: darkgreen;
}
div.box input {
    margin: 20px;
    padding: 10px;
    font-size: 25px;
    width: 300px;
}