{% load static %}
<!DOCTYPE html>
<html lang="en">

<!--A HTML document that produces the upload webpage, so users can input the start and end coordinates of their journey and the mode of transport used.-->
<!--authors: Eleanor Forrest, Jack Skinner, Giulia Brown, Sam Townley-->

<head>
    <!--Import styling-->
    <title>End Your Journey</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'carbonCommuter/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--Set up the connection to the Google Maps API-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIZe4j6_6bvgDSdz4rjX_29_r6C6FGi1Y&libraries=places&callback=initAutocomplete&loading=async"></script>
    <script type="text/javascript" src="{% static 'carbonCommuter/upload.js' %}"></script> 
    <script>
        window.error='{{ error|escapejs }}';
    </script>
</head>

<body onload="onLoad( '{{ tab|escapejs|default:1 }}' )">
    <header>
        <!--The navbar, consistent across the site-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">CarbonCommuter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto" style="text-align: right; float: right;">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user_groups_home_page' %}">Groups</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/leaderboard/user_leaderboard">Leaderboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout/">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/leaderboard/">Leaderboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login/">Login</a>
                            </li>
                        {%endif%}
                        <li class="nav-item">
                            <a class="nav-link" href="/user/"><i class='bx bxs-user-circle'></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <br>
        <div class="container">
            <div class="wrapper">
                <!--The form object takes the user's selections and passes them to the upload function-->
                <form name="end" id="journey_form" action="/user/journeys/finish" method="post">
                    {% csrf_token %}
                    <h1>End Your Current Journey</h1>
            
                    <!--These hidden inputs are used to convert the user's off-campus location into latitude and longitude coordinates and pass them through-->
                    <input type="hidden" id="lat" name="lat" value="{{ lat|escape }}">
                    <input type="hidden" id="long" name="long" value="{{ long|escape }}">
                    <input type="hidden" id="address" name="address" value="{{ address|escape }}">
     
                    <div id="tab1" style="text-align: center; display: none;">
                        <h3>Getting your current location</h3>
                        <br>
                        <div id="animation" style="margin: auto; width: 50%">
                            <img src="/media/animations/pikachu.gif"/>
                        </div>
                        <div id="location" style="margin: auto; width: 50%; display: none;">
                            <img style="width: 100px; height: 100px;" src="/media/icons/location_off.png"/>
                        </div>
                        <br>
                        <i id="loading">This could take up to 20 seconds...</i>
                    </div>
            
                    <div id="tab2" style="display: none">
                        <h4>Where are you finishing your journey today?</h4>
                        <button type="button" class="btn" id="btn_refresh" onclick="getLocation()">Get Location</button>
                        <br>

                        <br>
                        <div id="map">
                            {% if lat and long %}
                                <iframe id="google_map" width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk?q={{ lat|escape }},{{ long|escape }}&output=embed"></iframe>
                            {% else %}
                                <iframe id="google_map" width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=720&amp;height=600&amp;hl=en&amp;q=Exeter&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                            {% endif %}
                        </div>

                        <br>
                        <span>
                            Your current address is:
                            {% if address %}
                                <span id="display_address">{{ address|escape }}</span>
                            {% else %}
                                <span id="display_address">N/A</span>
                            {% endif %}
                        </span>

                        <br>
                        <div id="manual_select" style="display: none">
                            <br>
                            <h6>Enter a new location below:</h6>
                            <input type="text" id="autocomplete" name="autocomplete" placeholder="Enter a location...">
                        </div>

                        <br>
                        <div>
                            <button type="button" id="btn_input" class="btn" style="display: inline-block; width: 49%" onclick="showManualInput()">Enter Manually</button>
                            <button type="submit" id="btn_submit" class="btn" style="display: inline-block; width: 49%" >Confirm Location</button>
                        </div>
                        <h5>OR</h5>
                        <a href="/user/journeys/delete?id={{ request.user.profile.active_journey.id }}"><button type="button" class="btn">Cancel Current Journey</button></a>
                    </div>

                </form>
                <div id="error" style="display: none; text-align: center;">
                    <br>
                    <p id="error_msg" style='color: red;'>An unknown error has occured...</p>
                    <br>
                    <button class="btn" id="btn_failed" onclick="history.back();" style="display: none;">Go Back</button>
                </div>
            </div>
            <br>
            <div class="footer">
                <p>&copy; 2024 CarbonCommuter. All Rights Reserved.</p>
            </div>
        </div>
    </body>
</html>
