<!-- Author: Giulia Brown -->

{% load static %} <!-- Load static files -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Set character encoding -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive viewport -->
    <title>CO2 Saving Website</title> <!-- Title of the page -->
    
    <!-- External CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'adminUser/style.css' %}"> <!-- Load custom CSS -->
    <!--<link rel="stylesheet" href="style.css">-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> <!-- External icon library -->
</head>
<body>
    <header>
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">CO2 Saving</a> <!-- Website title -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> <!-- Toggle icon for mobile view -->
            </button>

            <!-- Navigation links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/register/">Register</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">Login</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboard/">Leaderboard</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/">User Profile</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/groups/">Groups</a> 
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    

    <!-- Footer section -->
    <footer class="mt-5">
        <div class="container text-center">
            <p>&copy; 2024 CO2 Saving. All Rights Reserved.</p> 
        </div>
    </footer>
    
    <!-- External JavaScript libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

