{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- A HTML document that produces the home page for admin users. -->
<!-- authors: Abi Hinton, Eleanor Forrest -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!--Import styling-->
    <link rel="stylesheet" href="{% static 'carbonCommuter/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <!--The navbar, consistent across the site-->
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">CarbonCommuter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_groups_home_page' %}">Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register/">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboard/">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/"><i class='bx bxs-user-circle'></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <br>
    <div class="wrapper">
    <div class="column">
        <!-- the text to show the user they have reached the admin page -->
        <h1>CarbonCommuter Admin</h1>
        <p></p>
        <p>As an admin, you can create global events.</p>
        <br>
        <a href="/adminUser/chooseEvent/"><button type="submit" class="btn">Create Event</button></a> <!--should not work if an event is already active-->
    </div>
    </div>  
    <br>
    

    <!--The footer, consistent across the site-->
    <div class="footer">
        <p>&copy; 2024 CarbonCommuter. All Rights Reserved.</p>
    </div>

</body>
</html>
