{% extends 'base.html' %}

{% block title %}Verify Journeys{% endblock%}

{% block navbar %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_groups_home_page' %}">Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/leaderboard/user_leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout/">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/leaderboard/">Leaderboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login/">Login</a>
        </li>
    {%endif%}
    <li class="nav-item">
        <a class="nav-link" href="/user/"><i class='bx bxs-user-circle'></i></a>
    </li> 
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="column-box-journeys">
                  <h1>Review suspicious journeys:</h1>
                  {% if request.user.profile.gamemaster %}
                  <div class="table">
                      <table>
                          <tr> 
                              <!-- Headers for the table -->
                              <th>User</th>
                              <th>Date</th>
                              <th>Time</th>
                              <th>Reason</th>
                              <th>Actions</th>
                          </tr>
                          <!--Here, the django for loop displays each user, with a medal for the top users-->
                          {% for journey in journeys %}
                          <tr>
                              <td>{{ journey.user.username }}</td>
                              <td>{{ journey.format_date }}</td>
                              <td>{{ journey.format_time }}</td>
                              <td>{{ journey.reason }}</td>
                              <td>
                                  <button class="icon-btn"><img src="/media/icons/checkmark.png" alt="Approve" width="30px"/></button>
                                  <button class="icon-btn"><img src="/media/icons/cross.png" alt="Delete" width="30px"/></button>
                              </td>
                          </tr>
                          {% endfor %}
                      </table>
                  </div> 
                  {% else %}
                      <p>This page is for gamemasters only.</p>
                  {% endif %}

              </div>
          </div>
      </div>
</div>
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}