{% extends 'base.html' %}

{% block title %}Verify Journeys{% endblock%}

{% block navbar %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_groups_home_page' %}">Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/leaderboard/user_leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout/">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/leaderboard/">Leaderboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login/">Login</a>
        </li>
    {%endif%}
    <li class="nav-item">
        <a class="nav-link" href="/user/"><i class='bx bxs-user-circle'></i></a>
    </li> 
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="column-box-journeys">
                    <h1>Review suspicious journeys:</h1>
                    <table class="table clickable">
                        <thead>
                            <tr> 
                                <!-- Headers for the table -->
                                <th>User</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Reason</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for journey in journeys %}
                                <tr class='clickable-row' data-href='/user/journeys/{{ journey.id }}/'>
                                    <td>{{ journey.user.username }}</td>
                                    <td>{{ journey.format_date }}</td>
                                    <td>{{ journey.format_time }}</td>
                                    <td>{{ journey.reason }}</td>
                                    <td>
                                        <button id="btn_approve" class="icon-btn"><img src="/media/icons/checkmark.png" alt="Approve" width="30px"/></button>
                                        <button id="btn_delete" class="icon-btn"><img src="/media/icons/cross.png" alt="Delete" width="30px"/></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}