<!-- A HTML document that produces the main home page. -->
<!-- authors: Jack Skinner, Giulia Brown -->
{% extends "base.html" %}

{% block title %}CO2 Saving Website{% endblock%}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="/register/">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/login/">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/leaderboard/">Leaderboard</a>
    </li>
{% endblock %}

{% block content %}
    <br>
    <!-- Main page table with a brief description of the app and the buttons to register, login and leaderboard-->
    <div class="container">
        <!-- The main wrapper -->
        <div class="main-wrapper">
            <div class="main-header">
                <h1>>Welcome to CarbonCommuter</h1>
            </div>
            <br>
            <div class="main-info">
                <p>Register now to start tracking your carbon emissions, join groups, and compete with others to see who can make the most significant impact!</p>
            </div>
            <div class="main-links">
                <a href="/register/"><button type="submit" class="btn">Register</button></a><p>if you are a new user.</p>
                <a href="/login/"><button type="submit" class="btn">Login</button></a><p>if you are an existing user.</p>
                <a href="/leaderboard/"><button type="submit" class="btn">View Leaderboard</button></a><p>to see top savers.</p>
            </div>
        </div>
        <br>
        <!--The footer, consistent across the site-->
        <div class="main-footer">
            <p>&copy; 2024 CarbonCommuter. All Rights Reserved.</p>
        </div>
    </div>
{% endblock %}