{% extends "base.html" %}

{% block title %}CO2 Saving Website{% endblock%}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="/register/">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/login/">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/leaderboard/">Leaderboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user/">User Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/groups/">Groups</a>
    </li> 
{% endblock %}

{% block content %}
<div class="container">
    <h1>CarbonCommuter Admin</h1>
    <p></p>
    <p>Register now to start tracking your carbon emissions, join groups, and compete with others to see who can make the most significant impact!</p>
    <p>As an admin, you can control these groups, and ensure carbon emission inputs are valid for all users, and remove them if they are not.</p>
    <br>
    <!--The footer, consistent across the site-->
    <div class="footer">
        <p>&copy; 2024 CarbonCommuter. All Rights Reserved.</p>
    </div>
</div>
{% endblock %}
